<AuthorizeView>
	<Authorized>
		<a href="Account/Logout" class="p-1 hover:text-blue-700">Log out</a>
	</Authorized>
	<NotAuthorized>
		<a href="Account/Login" class="p-1 hover:text-blue-700">Log in</a>
	</NotAuthorized>
</AuthorizeView>