<div class="flex gap-4 border-t border-gray-200 pt-4">

	<div>Author: @Article.Author.UserName</div>

	<div>Created: @Article.CreatedOn.ToString("M/d/yyyy", CultureInfo.InvariantCulture)</div>

	@if (Article.IsPublished)
	{
		<div>Published: @Article.PublishedOn?.ToString("M/d/yyyy", CultureInfo.InvariantCulture)</div>
	}
	else
	{
		<div>Draft</div>
	}

	<div>Categories: @Article.Category.Name</div>

</div>

@code {

	[Parameter] public ArticleDto Article { get; set; } = new();

}