@inherits LayoutComponentBase

<CascadingAuthenticationState>
	<div class="antialiased bg-gray-800 text-gray-100">
		<div class="flex flex-col min-h-screen space-y-4">
			<NavMenuComponent/>

			<main class="container flex-1 max-w-7xl px-4 mx-auto space-y-2 xl:max-w-7xl">
				<ErrorBoundary>
					<ChildContent>
						@Body
					</ChildContent>
					<ErrorContent>
						<ErrorPageComponent ErrorCode="500" ErrorMessage="An unexpected error occurred."/>
					</ErrorContent>
				</ErrorBoundary>
			</main>

			<FooterComponent/>
		</div>
	</div>
</CascadingAuthenticationState>