
<div class="text-center px-6 py-2 mx-auto xl:max-w-5xl border-t-blue-700">

	<a href="/">© @CurrentYear @_companyName All rights reserved.</a>

</div>

@code {

	private const string _companyName = "MPaulosky Co.";

}