@page "/categories/{id:guid}"

@inject NavigationManager Navigation
@inject ICategoryService CategoryService
@attribute [Authorize(Roles = "Admin")]

<PageHeadingComponent HeaderText="Category Details" Level="1" TextColorClass="blue-500"/>

@if (_isLoading)
{
	<LoadingComponent/>
}
else if (_category is null)
{
	<p>Category not found.</p>
}
else
{
	<div class="card">
		<div class="card-body">
			<h2>@_category?.Name</h2>
			@if (_category?.CreatedOn != null)
			{
				<div>Created On: @_category.CreatedOn.ToString("M/d/yyyy", CultureInfo.InvariantCulture)</div>
			}
			@if (_category?.ModifiedOn != null)
			{
				<div>Modified On: @_category.ModifiedOn?.ToString("M/d/yyyy", CultureInfo.InvariantCulture)</div>
			}
			<button class="btn btn-secondary" @onclick="GoToEdit">Edit</button>
			<button class="btn btn-light ms-2" type="button" @onclick="GoToList">Back to List</button>
		</div>
	</div>
}

@code {

	/// <summary>
	///   The unique identifier of the category to display.
	/// </summary>
	[Parameter]
	public Guid Id { get; set; }

	/// <summary>
	///   The category data to be displayed on the page.
	/// </summary>
	private CategoryDto? _category;

	/// <summary>
	///   Indicates whether the component is currently loading data.
	/// </summary>
	private bool _isLoading = true;

	/// <summary>
	///   Initializes the component by loading the category data using the CategoryService.
	/// </summary>
	protected override void OnInitialized()
	{

		try
		{
			var result = CategoryService.GetAsync(Id).Result;

			if (result is { Success: true, Value: not null })
			{
				_category = result.Value;
			}
			else
			{
				Console.WriteLine(result.Error ?? "An error occurred while fetching the category.");
				_category = null;
			}
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Exception occurred: {ex.Message}");
			_category = null;
		}
		finally
		{
			_isLoading = false;
		}

	}

	/// <summary>
	///   Navigates to the edit page for the current category.
	/// </summary>
	private void GoToEdit()
	{
		Navigation.NavigateTo($"/categories/edit/{Id}");
	}

	/// <summary>
	///   Navigates back to the category list page.
	/// </summary>
	private void GoToList()
	{
		Navigation.NavigateTo("/categories");
	}

}