<div class="flex gap-4 border-t border-gray-200 pt-4">

	<div>Author: @Article.Author.UserName</div>

	<div>Created: @Article.CreatedOn.ToString("d")</div>

	@if(@Article.IsPublished)
	{
		<div>Published: @Article.PublishedOn?.ToString("d")</div>
	}
	else
	{
		<div>Draft</div>
	}

	<div>Category: @Article.Category.Name</div>

	</div>

@code {

	[Parameter] public ArticleModel Article { get; set; } = new();

}